$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../fonts/icomoon" !default;
$icon-accounting: "\e900";
$icon-bank: "\e901";
$icon-bell: "\e902";
$icon-chat: "\e903";
$icon-cloud: "\e904";
$icon-dashboard: "\e905";
$icon-down-arrow: "\e906";
$icon-filter: "\e907";
$icon-grid-3x3: "\e908";
$icon-left-arrow: "\e909";
$icon-payment: "\e90a";
$icon-payroll: "\e90b";
$icon-plus: "\e90c";
$icon-purchase: "\e90d";
$icon-report: "\e90e";
$icon-sales: "\e90f";
$icon-search: "\e910";
$icon-tax-filling: "\e911";
$icon-three-dots-vertical: "\e912";