$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../fonts/icomoon" !default;
$icon-accounting: "\e900";
$icon-attachment: "\e901";
$icon-bank: "\e902";
$icon-bell: "\e903";
$icon-calendarIcon: "\e904";
$icon-chat: "\e905";
$icon-close: "\e906";
$icon-cloud: "\e907";
$icon-copy: "\e908";
$icon-dashboard: "\e909";
$icon-delete: "\e90a";
$icon-down-arrow: "\e90b";
$icon-filter: "\e90c";
$icon-grid-3x3: "\e90d";
$icon-left-arrow: "\e90e";
$icon-payment: "\e90f";
$icon-payroll: "\e910";
$icon-plus: "\e911";
$icon-purchase: "\e912";
$icon-report: "\e913";
$icon-sales: "\e914";
$icon-search: "\e915";
$icon-search_1: "\e916";
$icon-tax-filling: "\e917";
$icon-three-dots-vertical: "\e918";
$icon-tick: "\e919";